#wrapper {
  background-color: #1C345E;
  width: 970px;
  padding: 10px;
}
a {
  color: white;
}
.header {
  display:block;
  background-color: #CE3036;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}
.sidebar {
  background-color: #2A7D8C;
  padding: 15px;
  border-radius: 20px;
  display: inline-block;
}
.main {
  background-color: #0E1822;
  padding: 15px;
  border-radius: 20px;
  display: inline-block;
  color: white;
}
.footer {
  border-radius: 20px;
  padding: 15px;
  color: white;
  background-color: #5E6673;
}
